---
// Component Imports
// You can import components from any supported Framework here!

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = "Test Title";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href={Astro.resolve("../styles/global.css")} />
  </head>

  <body class="bg-gray-800 p-16">
    <div class="bg-gray-300 rounded-xl p-16">
      <h1 class="text-5xl font-thin">Hello World</h1>
    </div>
  </body>
</html>
